In [6]:
#import python libraries
import os
import re
import numpy as np
import pandas as pd

import warnings

In [2]:
#read dataset
df=pd.read_csv('train.csv')

In [8]:
#shape of the dataset
print ("The shape of the data is {} rows and {} columns ".format(df.shape[0],df.shape[1]))

The shape of the data is 614 rows and 13 columns

In [4]:
#sneak peek into the dataframe
df.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB

we have some missing values

In [9]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

Loan_status is our target column

In [16]:
#find out the number of missing values in each column
for col in df.columns:
    print("The number of missing values in {} is {}".format(col,df[col].isnull().sum()))

The number of missing values in Loan_ID is 0
The number of missing values in Gender is 13
The number of missing values in Married is 3
The number of missing values in Dependents is 15
The number of missing values in Education is 0
The number of missing values in Self_Employed is 32
The number of missing values in ApplicantIncome is 0
The number of missing values in CoapplicantIncome is 0
The number of missing values in LoanAmount is 22
The number of missing values in Loan_Amount_Term is 14
The number of missing values in Credit_History is 50
The number of missing values in Property_Area is 0
The number of missing values in Loan_Status is 0

In [22]:
#find out the labels of missing values of those columns
missing_cols=['Gender','Married','Dependents','Self_Employed','Loan_Amount_Term']
for col in missing_cols:
    print("List of unique labels for  {} ::::  is   {}".format(col,set(df[col])))

List of unique labels for  Gender ::::  is   {'Female', nan, 'Male'}
List of unique labels for  Married ::::  is   {'Yes', nan, 'No'}
List of unique labels for  Dependents ::::  is   {nan, '2', '1', '3+', '0'}
List of unique labels for  Self_Employed ::::  is   {'Yes', nan, 'No'}
List of unique labels for  Loan_Amount_Term ::::  is   {nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 12.0, 36.0, 300.0, 180.0, 60.0, 84.0, 480.0, 360.0, 240.0, 120.0}